django==4.2.5
fastapi==0.103.1
uvicorn==0.23.2
mysqlclient==2.2.0
pymongo==4.5.0
boto3==1.28.57
celery==5.3.4
redis==5.0.1
django-storages==1.14.2
pillow==10.0.1
# django-ckeditor==6.7.0
django-summernote==0.8.20.0